 .g-recaptcha{
    margin: 0px auto !important;
   width: auto !important;
   height: auto !important;
   text-align: -webkit-center;
   text-align: -moz-center;
   text-align: -o-center;
   text-align: -ms-center;
   
}

.header{
	
	border-radius: 25px;
    background: url(https://images.wallpaperscraft.com/image/single/smoke_bunches_colored_smoke_126073_1920x1080.jpg);
    padding: 20px;
}

.logo{
	
	width:125px;height:auto;padding:10px;max-width:300px;
}

.registration-form{
z-index: 2;
position: relative;
text-align: center;
}
header {
	
	
	color:white;padding:10px;
	
}


button#publish-story{
	
	float: right;
	background: #18171f5c;
    border: none;
    border-radius: 20px;
    height: 50px;
    color: white;
    width: 50px;
	font-size:30px
	
	
}

#editorjs{
	
	padding-top:50px;
	
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #d2d2d2;
  outline: 0;
  font-size: 16px;
  color: #ffffff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

label,
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus ~ .form__label {
  color: #8bc34a;
}

.form__field:focus {
  padding-bottom: 6px;
  border-bottom: 2px solid #009788;
}

.publishbtn{
    
 padding: 15px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    /* font-family: 'Comfortaa', cursive; */
    color: #ffffff;
    /* font-size: 20px; */
    border-radius: 4px;
    /* box-shadow: inset 0px 3px 5px rgb(255 255 255 / 50%), 0px 0px 10px rgb(0 0 0 / 15%); */
    background: #8bc34a;
    background-size: 150%;
    background-position: right;
    transition: 1s;
  
   
}
.publishbtn:hover {
	background-position: left;
	color: black;
	box-shadow: inset 0px 3px 5px rgba(255,255,255,1), 0px 0px 10px rgba(0,0,0,0.25);
}
.padder{
	
	padding:10px;
}

.u-flexCenter {
  display: flex;
 
}


.blurred-box{
    position: relative;
    overflow: hidden;
    margin-top:10px;
	padding: 20px;
    max-height: 640px;
    align-items: center;
    background: rgb(0 0 0 / 49%);
    box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.bigtext{
	
	
	font-size:30px;
	color:white;
}

.flexify{
	
	display:flex;
	
	
}

.copybutton{
	width: 6em;
  
    border: none;
    background: #6dd320;
    font-size: 15px;
	
}
div#successcontainer{
	
	display:none;
	
}